Repository aehrc/pathling, pull requests merged in 2023-01, with the labels that each got.

#1174 Implements validation of configuration for PahtlingContext.
  library-api/src/main/java/au/csiro/pathling/library/PathlingContext.java
  library-api/src/test/java/au/csiro/pathling/library/PathlingContextTest.java
  pom.xml
  terminology/src/main/java/au/csiro/pathling/config/HttpClientCachingConfiguration.java
  terminology/src/main/java/au/csiro/pathling/config/TerminologyConfiguration.java
  utilities/pom.xml
  utilities/src/main/java/au/csiro/pathling/validation/ValidationUtils.java
Labels: library-api

#1196 v6.1.3
  .github/workflows/python-pre-release.yml
  .github/workflows/test.yml
  LICENSE
  encoders/pom.xml
  encoders/src/license/THIRD-PARTY.properties
  fhir-server/pom.xml
  fhir-server/src/license/THIRD-PARTY.properties
  lib/import/pom.xml
  lib/js/pom.xml
  lib/python/Dockerfile
  lib/python/pom.xml
  lib/python/requirements/dev.txt
  lib/python/src/license/THIRD-PARTY.properties
  library-api/pom.xml
  library-api/src/license/THIRD-PARTY.properties
  licenses/apache 2.0 license - license-2.0.html
  licenses/apache license, version 2.0 - apache2.0.html
  licenses/gnu general public license (gpl), version 2, with the classpath exception - gplv2+ce.html
  licenses/gnu lesser general public license - lgpl-2.1.html
  licenses/mit - mit-license.html
  licenses/public domain - license.html
  licenses/the mit license - license.html
  pom.xml
  site/pom.xml
  terminology/pom.xml
  terminology/src/license/THIRD-PARTY.properties
  terminology/src/main/java/au/csiro/pathling/terminology/RequestRetryHandler.java
  utilities/pom.xml
  utilities/src/license/THIRD-PARTY.properties
  utilities/src/main/java/au/csiro/pathling/validation/ValidationUtils.java
Labels: release

#1195 Removing JSR-380 validation dependency on EL implementation.
  pom.xml
  utilities/pom.xml
  utilities/src/main/java/au/csiro/pathling/validation/ValidationUtils.java
Labels: bug

#1204 Add IdleConnectionEvictor to guard against terminology server closing connections
  terminology/src/main/java/au/csiro/pathling/terminology/DefaultTerminologyServiceFactory.java
Labels: bug
